/* skills */
.progress-wrapper {
  height: 130px;
  overflow: hidden;
}

.active-bg-primary {
  transition: .3s ease;
  background: $primary-color;

  * {
    color: $white;
  }
}

.steps-of-learning {
  ol {
    list-style-type: decimal;
    color: $secondary-color;
    font-size: 1.5em;
    font-weight: 600;

    li > p {
      color: $text-color;
      font-weight: 600;
    }
  }
}

.hover-shadow{
  transition: .2s ease;
  &:hover{
    box-shadow: 0px 18px 40px 8px rgba(224, 241, 255, 0.54) !important;
  }
}

.section-on-footer {
  margin-bottom: -250px;
}

.shadow-down {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    box-shadow: 0px 0px 80.75px 14.25px rgba(224, 241, 255, 0.34);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
}
.about {
  position: relative;
}

.bg-shape-full {
  position: absolute;
  background-color: $bg-color-5;
  opacity: 0.68;
  z-index: -1;

  &.shape-1 {
    width: $size-circle * 3;
    height: $size-circle * 3;
    border-radius: 50%;
    background-color: $bg-color-4;
    top: 0;
    left: 0;
  }
  &.shape-2 {
    width: $size-circle * 2;
    height: $size-circle * 2;
    border-radius: 50%;
    background-color: $bg-color-4;
    top: $size-circle * 2;
    left: 0;
  }
  &.shape-3 {
    width: $size-circle;
    height: $size-circle;
    border-radius: 50%;
    background-color: $bg-color-4;
    top: $size-circle * 2.5;
    left: $size-circle * 2;
  }
  &.shape-4 {
    width: $size-circle * 3;
    height: $size-circle * 3;
    border-radius: 50%;
    right: 0;
    bottom: 0;
  }
  &.shape-5 {
    width: $size-circle * 2;
    height: $size-circle * 2;
    border-radius: 50%;
    bottom: $size-circle * 2;
    right: 0;
  }
  &.shape-6 {
    width: $size-circle;
    height: $size-circle;
    border-radius: 50%;
    bottom: $size-circle * 2.5;
    right: $size-circle * 2;
  }

  @include tablet {
    display: none;
  }
}

.card-img-top {
  width:100%;
  height:250px;
  object-fit: cover;
}
