<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="text-light">Email</p>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.email }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">♡ Copying is an act of love. Please copy. Made by <a href="https://axesslab.com/">Axess Lab</a> <script>
      var CurrentYear = new Date().getFullYear()
      document.write(CurrentYear)
    </script></p>
  </div>
</footer>
<!-- /footer -->
