<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ "/assets/plugins/bootstrap/bootstrap.min.css"  | relative_url }}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{{ "/assets/plugins/themify-icons/themify-icons.css" | relative_url }}">

  <!-- Main Stylesheet -->
  <link href="{{ "/assets/css/style.css" | relative_url }}" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="icon" href="{{ "/assets/images/favicon.ico" | relative_url }}" type="image/x-icon">

</head>
