<!-- hero area -->
<section class="hero-area bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary display-lg">{{ site.data.settings.hero.hero-title }}</h1>
        <p class="text-white paragraph-lg">{{ site.data.settings.hero.preamble }}</p>
        <a href="{{ site.data.settings.hero.link }}" class="btn btn-light mt-4">{{ site.data.settings.hero.link-name}}</a>
        <a href="{{ site.data.settings.hero.link-secondary }}" class="btn btn-light mt-4 mx-4">{{ site.data.settings.hero.link-secondary-name}}</a>
      </div>
    </div>
  </div>
  <div class="bg-shape shape-1" aria-hidden="true"></div>
  <div class="bg-shape shape-2" aria-hidden="true"></div>
  <div class="bg-shape shape-3" aria-hidden="true"></div>
</section>
<div class="row">
  <div class="col-12 text-center read-more">
    <button type="button" class="js-scroll-to-content" style="z-index: 1; background-color: rgba(255, 255, 255, 0); border: rgb(248, 248, 248); color: rgb(255, 255, 255);">
      <div>Read more</div>
      <span class="ti-angle-down"></span>
    </button>
  </div>
</div>
<!-- /hero area -->
