// Color Variables
$primary-color: #203A43;
$secondary-color: #AF227E;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #f2f2f2;
$link-color: #2a7ab0;


// Font Variables
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';

$bg-color-1:#0F2027;
$bg-color-2:#203A43;
$bg-color-3:#2C5364;
$bg-color-4: #F2C46D;
$bg-color-5: #B5B2C3;

$size-circle: 75px;
