<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}
  
  {% include header.html %}
  <main>
    {{ content }}
  </main>
  
  {% include footer.html %}

  <!-- jQuery -->
  <script src="{{ '/assets/plugins/jQuery/jquery.min.js' | relative_url }}"></script>
  
  <!-- Bootstrap JS -->
  <script src="{{ '/assets/plugins/bootstrap/bootstrap.min.js' | relative_url }}"></script>

  <!-- Main Script -->
  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>

</html>
